{% extends 'base.html.twig' %}

{% block title %}Email envoyé{% endblock %}

{% block body %}

<div class="centrer_container">
<h1>Un email à été envoyé ! Merci de regarder vos mail et de confirmer votre inscription.</h1>
<a href="/home">Retourner a la page principale</a>
</div>
{% endblock %}

