html {
  scroll-behavior: smooth;
}
.sendMessageToRightButton {
  position: absolute;
  right: 50px;
  top: 15vh;
}
.discussion_container {
  padding: 10vh 20vw;
}
.discussion {
  width: 100%;
  position: relative;
  margin-top: 30px;
  /* display: flex;
    align-items: center;
    gap: 5%;
    justify-content: space-between; */
  /* background: white;
    color: black; */
  /* background: rgb(83, 82, 82); */
  color: white;
  padding: 20px 30px;
  padding-left: 60px;
  border-radius: 20px;
  border: 3px solid #1b1c1e;
  color: #1b1c1e;
  background: rgb(247, 247, 247);
}
.discussion::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1b1c1e;
  top: 10px;
  right: -10px;
  z-index: -1;
  border-radius: 10px;
}
.discussion:hover {
  background: rgb(187, 187, 187);
  transition: 0.2s;
}
.first_letter {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 20px;
  color: white;
  font-size: 2em;
  background-color: rgb(0, 238, 255);
  border-radius: 50%;
}
/* .discussion::after{
      content: '';
      position: absolute;
      width: 20%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.531);
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
  } */
.user_time {
  min-width: 130px;
  font-weight: 700;
  position: relative;
  font-size: 1.2em;
}
/* .user_time::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 200%;
    background-color: rgba(26, 26, 26, 0.531);
    border-radius: 3px;
    top: -50%;
    right: -19px;
  } */

p {
  margin: 0;
  margin-top: 10px;
  color: #1b1c1e;
  font-size: 1em;
}

/* Diffrent color corresponding about user first letter*/
.A,
.B,
.C,
.D,
.E,
.F,
.G {
  background-color: rgb(0, 238, 255);
}
.H,
.I,
.J,
.K,
.L,
.M,
.N {
  background-color: rgb(0, 255, 200);
}
.O,
.P,
.Q,
.R,
.S,
.T,
.U {
  background-color: rgb(255, 162, 0);
}
.V,
.W,
.X,
.Y,
.Z {
  background-color: rgb(255, 0, 140);
}
.form_container {
  margin-top: 100px;
}
.form_container form {
  width: 100%;
}
#form {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 5%;
}
#form div:first-child {
  width: 100%;
}
input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #1b1c1e;
  border-radius: 10px;
  box-shadow: none;
  color: #1b1c1e;
}
input:focus {
  outline: none !important;
  box-shadow: 0 0 10px #3d444c00;
}
#form_save {
  color: #1b1c1e;
  border: 1px solid #1b1c1e;
}
