html {
  scroll-behavior: smooth;
}

.discussion_container {
  padding: 10vh 20vw;
}

.discussion {
  width: 100%;
  position: relative;
  margin-top: 30px;
  /* display: flex;
    align-items: center;
    gap: 5%;
    justify-content: space-between; */
  /* background: white;
    color: black; */
  /* background: rgb(83, 82, 82); */
  color: white;
  padding: 20px 30px;
  padding-left: 60px;
  border-radius: 10px;
  border: 3px solid #1b1c1e;
  color: #1b1c1e;
  background: rgb(247, 247, 247);
  transition: 0.2s;
}

.discussion::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1b1c1e;
  top: 10px;
  right: -10px;
  z-index: -1;
  border-radius: 10px;
}

.discussion:hover {
  background: rgb(231, 231, 231);
  transition: 0.2s;
}

.first_letter {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 20px;
  color: white;
  font-size: 2em;
  background-color: rgb(0, 238, 255);
  border-radius: 50%;
}

/* .discussion::after{
      content: '';
      position: absolute;
      width: 20%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.531);
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
  } */
.user_time {
  min-width: 130px;
  font-weight: 700;
  position: relative;
  font-size: 1.2em;
}

/* .user_time::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 200%;
    background-color: rgba(26, 26, 26, 0.531);
    border-radius: 3px;
    top: -50%;
    right: -19px;
  } */

p {
  margin: 0;
  margin-top: 10px;
  color: #1b1c1e;
  font-size: 1em;
}

/* Diffrent color corresponding about user first letter*/
.A,
.B,
.C,
.D,
.E,
.F,
.G {
  background-color: rgb(0, 238, 255);
}

.H,
.I,
.J,
.K,
.L,
.M,
.N {
  background-color: rgb(0, 255, 200);
}

.O,
.P,
.Q,
.R,
.S,
.T,
.U {
  background-color: rgb(255, 162, 0);
}

.V,
.W,
.X,
.Y,
.Z {
  background-color: rgb(255, 0, 140);
}

.form_container form {
  width: 100%;
}

#form {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 5%;
}

#form div:first-child {
  width: 100%;
}

input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #1b1c1e;
  border-radius: 10px;
  box-shadow: none;
  color: #1b1c1e;
}

input:focus {
  outline: none !important;
  box-shadow: 0 0 10px #3d444c00;
}

#form_save {
  color: #1b1c1e;
  border: 1px solid #1b1c1e;
}

#sendMessage {
  visibility: hidden;
}

.writeMessageButton {
  float: right;
  margin-top: 10px !important;
}

.sendMessage_container {
  position: relative;
  margin-top: 100px;
  padding: 20px 30px;
  border-radius: 10px;
  border: 3px solid #1b1c1e;
  background-color: #f8f8f8;
}

.sendMessage_container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1b1c1e;
  top: 10px;
  right: -10px;
  z-index: -1;
  border-radius: 10px;
}

.sendMessage_container #form_save {
  transition: 0s !important;
}

a {
  position: relative;
  text-decoration: none !important;
}

a:focus,
button:focus {
  /* Provide a fallback style for browsers
	 that don't support :focus-visible */
  outline: none;
}

.button {
  pointer-events: auto;
  cursor: pointer;
  background: #ffffff;
  border: none;
  padding: 1.4rem 1.5rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  color: white !important;
}

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sendMessageFixedRightButton {
  position: fixed;
  right: 2vw;
  top: 12vh;
}

/* #closeButton {
  padding: 1.4rem 1.5rem;
} */
.button--open-chat {
  font-weight: bold;
  background: none;
}

.button--open-chat::before {
  content: "";
  z-index: -1;
  background: #1b1c1e;
  -webkit-clip-path: polygon(0% 0%,
      100% 0%,
      100% 70%,
      85% 70%,
      80% 70%,
      75% 70%,
      0 70%);
  clip-path: polygon(0% 0%,
      100% 0%,
      100% 70%,
      85% 70%,
      80% 70%,
      75% 70%,
      0 70%);
  transition: clip-path 0.3s cubic-bezier(0.7, 0, 0.2, 1),
    -webkit-clip-path 0.3s cubic-bezier(0.7, 0, 0.2, 1), transform 0.3s ease;
}

.button--open-chat:hover::before {
  transform: translate3d(0, -10px, 0);
  -webkit-clip-path: polygon(0% 0%,
      100% 0%,
      100% 70%,
      85% 70%,
      86% 100%,
      75% 70%,
      0 70%);
  clip-path: polygon(0% 0%,
      100% 0%,
      100% 70%,
      85% 70%,
      86% 100%,
      75% 70%,
      0 70%);
}

.button--open-chat span {
  display: block;
  position: relative;
}

.button--open-chat>span {
  transition: transform 0.3s;
  transform: translate3d(0, -0.556rem, 0);
  z-index: 1;
  overflow: hidden;
}

.button--open-chat:hover>span {
  transform: translate3d(0, -1.111rem, 0);
}

.button--open-chat:hover>span>span {
  animation: MoveUpInitial 0.15s forwards, MoveUpEnd 0.15s forwards 0.15s;
}

@keyframes MoveUpInitial {
  to {
    transform: translate3d(0, -105%, 0);
  }
}

@keyframes MoveUpEnd {
  from {
    transform: translate3d(0, 100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

/* BUTTONS ACTONS */
.discussion_actions {
  position: absolute;
  right: 20px;
  top: 0;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.discussion_actions button {
  border-color: black;
  color: black;
  border-radius: 5px;
}

.discussion_actions button:hover {
  background-color: #1b1c1e;
  color: #f8f8f8;
}

.discussion_actions button:last-child:hover {
  background-color: #d41d05;
  border-color: #d41d05;
  color: #f8f8f8;
}

/* POP UP */
.pop_up_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 60vh);
  width: 700px;
  padding: 40px 60px;
  background-color: #1b1c1e;
  border-radius: 8px;
  color: #f8f8f8;
  z-index: 100;
  /* visibility: hidden; */
}

.pop_up_container.visible {
  transform: translate(-50%, -50%);
}

.pop_up_container p {
  color: #f8f8f8;
}

.pop_up_container div {
  margin-top: 20px;
  float: right;
}

.pop_up_container div button {
  border-radius: 5px;
  transition: 0s;
}

.pop_up_container input {
  color: #f8f8f8;
  border-color: #f8f8f8;
  margin-top: 20px;
}

.pop_up_container div .primaryButton {
  background-color: #1b1c1e;
  color: #f8f8f8;
  border: 1px solid #f8f8f8;
  padding: 12px 20px;
  margin-left: 10px;
  border-radius: 5px;
  transition: 0s;
}

.pop_up_container div .primaryButton:hover {
  background-color: #d41d05;
  border: 1px solid #d41d05;
}

.pop_up_container div .edit:hover {
  background-color: #1ebe18;
  border: 1px solid #1ebe18;
}