body {
  background-color: rgb(61, 61, 61);
}
h1 {
  text-align: center;
  padding: 3% 0;
  font-weight: bold;
  font-size: 4em;
  z-index: 10;
}
form {
  background: rgb(247, 247, 247);
  border-radius: 10px;
  padding: 4% 6%;
  width: 40%;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
  color: black;
  margin-bottom: 15vh;
  background-color: white;
  border: 3px solid rgb(61, 61, 61);
  z-index: 5;
}

form div {
  padding-bottom: 20px;
}
label {
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}
ul,
li {
  color: rgba(235, 49, 49, 0.802);
}
input {
  padding: 10px 7px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(11, 11, 11, 0.692);
  border-radius: 7px;
  color: black;
  width: 100%;
}

button {
  float: right;
  margin-top: 20px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.692);
}
button:hover {
  background-color: rgb(61, 61, 61);
  color: white;
}
.info {
  color: rgba(255, 255, 255, 0.622);
  position: fixed;
  right: 10px;
  bottom: 10vh;
}
select {
  padding: 10px 20px;
  border-radius: 5px;
}

.wave_container {
  position: absolute;
  top: 0vh;
  left: 0;
  width: 100%;
  height: 70vh;
  transform: rotate(180deg);
  z-index: -10;
}

.waves {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: -7px; /*Fix for safari gap*/
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
